extends layout 
 
block content 
  h1= title 
  if(toShow==null)
    h2 No instance to Update
  else
 
   - let pradaid = toShow._id 
   - let prada_type = toShow.color 
   - let pradacost = toShow.cost 
   - let pradasize = toShow.brand 
   
   div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{pradaid} 
  - let actionid = "/resource/pradas/" + pradaid 
   form(id='PradaForm', action= actionid, method="PUT") 
     div.form-group 
        label.pradaAttr(for='color') Prada color 
        input#prada_type(type='text', name='color', value= prada_type ) 
     div.form-group 
        label.pradaAttr(for='cost') Prada cost 
        input#size(type='number', name='cost', value= pradacost ) 
     div.form-group 
        label.pradaAttr(for='brand') Prada brand 
        input#cost(type='text', name='brand', value= pradasize ) 
     input(type="submit")
 
  script. 
    document.forms['PradaForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    }); 